@font-face {
  font-family: "manrope";
  src: url(./font/Manrope-VariableFont_wght.ttf);
  font-display: swap;
}

@font-face {
  font-family: "manrope-bold";
  src: url(./font/Manrope-ExtraBold.ttf);
  font-display: swap;
}

:root {
  --textColor: #0a3641;
  --navBackground: #f8f8f8;
  --searchbarColor: #d7d7d7;
  --buyNowInactive: #d9d9d9;
  --buyNowActive: #0a3641;
  --checkoutButton: #8c4300;
  --checkoutButtonInactive: #ffffff;
  --orderNumber: #ca0000;
  --browseBackground: #e3e3e3;
  --productImage: #eeeeee;
  --adBannerText: #ffffff;
  --productColorText: #727272;
  --fontBold: "manrope-bold", Verdana, Tahoma, sans-serif;
}

/*======================================================================
========================================================================
Table of Content:

=======
Desktop
=======

1. Global Values

2. Nav Bar Styling
  2.1 Nav Bar Hover Styles with focus attributes for tab'ing

3. Home Page
  3.1 Home Background
  3.2 Home Page Shop Now Button
  3.3 Home Page Shop Now Hover/Focus States
  
4. Browse Page
  4.1 Browse Page Global Values
  4.2 Styling for the ad banner on top of the page
  4.3 Product Grid Styling

5. Product Page

6. About Us Page

7. Contact Page

8. Cart Page

9. Success Pages

======
Mobile
======

m1. Nav and Footer Sections
  m1.1 Mobile Nav Styling
  m1.2 Mobile Footer Styling

m2. Mobile Home Page
  m2.1 Mobile Main Button Styling

m3. Mobile Browse Page

m4. Mobile Product Page

m5. Mobile About Us Page

m6. Mobile Contact Page

Resources used for additional technuiques:

https://developer.mozilla.org/en-US/

and some help from my Girlfriend who knows some degree of both HTML, CSS and Javascript.

========================================================================
========================================================================*/

/*==============
1. Global Values
================*/

::placeholder {
  color: var(--textColor);
  opacity: 0.5;
  font-family: var(--fontBold);
}

a:link,
a:visited {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "manrope", Verdana, Tahoma, sans-serif;
  font-weight: 900;
  color: var(--textColor);
}

input {
  background-color: var(--searchbarColor);
  border: none;
  color: var(--textColor);
  border-radius: 7px;
  padding-block: 5px;
  padding-left: 5px;
}

/*==============
Nav Bar Styling
================*/

.nav-container {
  background-color: var(--navBackground);
  font-family: var(--fontBold);
  font-size: 1.5rem;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: 100px;
  width: 100%;
  box-shadow: inset 0px 8px 10px 0px rgba(0, 0, 0, 0.6);
  z-index: 100;
}

.burger-menu,
.burger-icon {
  display: none;
}

.nav-logo-desktop {
  margin-left: 10px;
  height: 100px;
}

.nav-logo-desktop img {
  display: flex;
  height: 90px;
  width: 100%;
}

.nav-collection,
.nav-about-us {
  color: var(--textColor);
}

form {
  display: flex;
  width: 40%;
}

form .nav-search {
  width: 100%;
  border-radius: 16px;
  font-size: 1.3rem;
}

form .search-icon {
  background-color: var(--searchbarColor);
  border: none;
  border-left: 2px solid var(--textColor);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-left: -35px;
}

.nav-contact {
  width: 60px;
}

.nav-cart {
  width: 45px;
  margin-right: 50px;
}

.nav-cart img {
  width: 45px;
}

ul {
  display: none;
}

/* 2.1 Nav Bar Hover Styles with focus attributes for tab'ing */

.nav-collection:hover,
.nav-collection:focus,
.nav-about-us:hover,
.nav-about-us:focus,
.nav-contact:hover,
.nav-contact:focus,
.nav-cart:hover,
.nav-cart:focus {
  border-bottom: 3px solid var(--textColor);
  cursor: pointer;
  outline: none;
}

.search-icon:hover {
  cursor: pointer;
}

/*===================
      3. Home Page
=====================*/

/*3.1 Home Background*/

.home-background {
  position: fixed;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}

/*3.2 Home Page Shop Now Button*/

.home-shop-now-button {
  background-color: rgba(255, 255, 255, 0.6);
  width: 35%;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 40%;
  transition: 200ms;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.home-shop-now-text {
  font-family: var(--fontBold);
  color: var(--textColor);
  padding: 10px;
}

#home-shop-now-head {
  font-size: 3.5rem;
  margin: 0;
}

#home-shop-now-sub {
  font-size: 1.5rem;
  margin-right: 100px;
  font-weight: normal;
}

#home-shop-now {
  font-size: 2rem;
}

/*3.3 Home Page Shop Now Hover/Focus States*/

.home-shop-now-button:hover,
.home-shop-now-button:focus {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
}

/*===================
      4. Browse Page
=====================*/

/*4.1 Browse Page Global Values */

.browse-background {
  background-color: var(--browseBackground);
  padding-top: 120px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

/*4.2 Styling for the ad banner on top of the page*/

.browse-ad-image {
  background-image: url(/images/ad-banner.jpg);
  background-position: top 30% left 0;
  background-size: cover;
  color: var(--adBannerText);
  font-family: var(--fontBold);
  font-size: 3.5rem;
  margin-inline: 15%;
  min-width: 600px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.browse-ad-image p {
  text-shadow: 1px 1px 2px black;
}

/*4.3 Product Grid Styling*/

.browse-container {
  background-color: var(--browseBackground);
  margin-inline: 15%;
  margin-top: 20px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.browse-product-box {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
  min-height: 550px;
}

.browse-product-link {
  height: 100%;
  width: 100%;
}

.browse-container h1 {
  color: var(--textColor);
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 0;
  margin-left: 10px;
}

.browse-container p {
  color: var(--productColorText);
  font-size: 1rem;
  text-align: left;
  margin-top: 0;
  margin-left: 10px;
}

.browse-container h2 {
  color: var(--textColor);
  font-size: 1.5rem;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-product-image {
  background-color: var(--productImage);
  margin: 0;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.browse-product-image img {
  max-height: 380px;
  width: 90%;
  object-fit: contain;
}

.browse-cart-icon {
  background-image: url(/images/cart-icon.jpg);
  background-size: 50px;
  background-position: center;
  background-color: white;
  border: none;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.browse-cart-icon:hover {
  cursor: pointer;
}

/*=====================
      5. Product Page
=======================*/

.product-page-ad-background {
  padding-top: 120px;
  margin-bottom: 50px;
}

.back-button {
  margin-left: 15%;
  margin-top: 0px;
  font-size: 1.5rem;
  color: var(--textColor);
}

.product-wrapper {
  margin-inline: 15%;
  margin-bottom: 10%;
  display: flex;
}

.product-page-image-container {
  background-color: var(--productImage);
}

.product-text-container {
  border-top: 2px solid var(--textColor);
  border-bottom: 2px solid var(--textColor);
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product-text-container h1 {
  font-size: 2.5rem;
  margin: 0;
}

.product-text-container p {
  font-size: 1.5rem;
  margin: 0;
}

.price-button-wrap {
  margin-top: 10%;
}

.product-text-container h2 {
  font-size: 2rem;
  text-decoration: underline;
}

.product-page-buy-button {
  color: var(--buyNowInactive);
  background-color: var(--buyNowActive);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: var(--fontBold);
  padding: 10px;
}

.product-page-buy-button:hover {
  color: var(--buyNowActive);
  background-color: var(--buyNowInactive);
  cursor: pointer;
}

/*=====================
      6. About Us Page
=======================*/

.about-us-overlay {
  background-color: rgba(10, 54, 65, 0.6);
  color: var(--browseBackground);
  position: relative;
  padding-top: 120px;
  text-align: center;
}

.about-us-logo {
  height: 200px;
}

.about-us-overlay p {
  margin-inline: 25%;
  padding-bottom: 50px;
  font-size: 2em;
  font-weight: 900;
}

/*=====================
      7. Contact Page
=======================*/

.contact-overlay {
  background-color: rgba(10, 54, 65, 0.6);
  color: var(--browseBackground);
  position: relative;
  padding-top: 120px;
  text-align: center;
}

.contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  padding-bottom: 50px;
}

.contact-phone {
  font-size: 2em;
}

#form-error {
  color: red;
  margin: 0;
  display: none;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.contact-form label {
  margin-top: 20px;
  text-align: left;
}

.message-form {
  background-color: var(--searchbarColor);
  border: none;
  color: var(--textColor);
  width: 100%;
  height: 100px;
  border-radius: 7px;
  font-size: 1rem;
  font-weight: 900;
}

.contact-submit-button {
  font-family: var(--fontBold);
  color: var(--checkoutButtonInactive);
  background-color: var(--checkoutButton);
  font-size: 1.5rem;
  margin-top: 20px;
  height: 40px;
  width: 100%;
  text-align: center;
  border: none;
}

.contact-submit-button:hover {
  background-color: var(--checkoutButtonInactive);
  color: var(--textColor);
  cursor: pointer;
}

/*=====================
      8. Cart Page
=======================*/

.cart-background {
  background-color: var(--browseBackground);
  padding-top: 120px;
  padding-inline: 5%;
  height: 100vh;
}

.cart-container {
  background-color: #ffffff;
  padding-inline: 70px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  width: 100%;
}

.cart-product-info {
  height: 100%;
}

.cart-product-header {
  font-size: 1.3vw;
  margin-block: 5px;
  margin-left: 0;
}

.cart-product-color {
  font-size: 0.8vw;
}

.cart-product-description {
  font-size: 0.9vw;
}

.cart-product-price {
  font-size: 1.3vw;
}

.product-container {
  display: flex;
  flex-direction: column;
}

.cart-product:first-child {
  border-top: 2px solid var(--productColorText);
}

.cart-product {
  border-bottom: 2px solid var(--productColorText);
  display: flex;
  gap: 20px;
}

.cart-wrapper {
  display: flex;
  gap: 50px;
}

.cart-product-image {
  background-color: var(--productImage);
  max-height: 170px;
  max-width: 150px;
  padding: 10px;
  margin-block: 10px;
}

.delete-button {
  height: 50px;
  width: 50px;
  flex-shrink: 0;
  background-image: url("/images/x-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border: none;
  margin-left: auto;
}

.delete-button:hover {
  cursor: pointer;
}

.empty-cart {
  font-size: 1.5rem;
  border-top: 2px solid var(--textColor);
  padding-top: 10px;
  text-align: center;
}

.cart-form {
  background-color: var(--textColor);
  color: var(--adBannerText);
  padding-inline: 20px;
  max-width: 350px;
  max-height: 650px;
  padding-bottom: 20px;
}

.cart-form-sub-container {
  border-top: 2px solid var(--browseBackground);
  border-bottom: 2px solid var(--browseBackground);
}

.cart-form-sub-text {
  display: flex;
  justify-content: space-between;
}

.cart-form-total {
  font-size: 1.3rem;
}

.payment-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.payment-form input {
  width: 100%;
}

.payment-location {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-block: 10px;
}

.payment-location-input {
  display: flex;
}

/*=====================
      9. Success Pages
=======================*/

.success-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-block: 130px;
  padding-inline: 10%;
}

.success-wrapper img {
  max-width: 150px;
}

.success-wrapper h1 {
  font-size: 3rem;
}

.success-wrapper p {
  font-size: 1.5rem;
}

/*==============
  Mobile Version
  ==============*/

@media (max-width: 900px) {
  /*==============================
      m1. Nav and Footer Sections
==================================*/

  header {
    background-color: var(--navBackground);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    z-index: 100;
  }

  /* m1.1 Mobile Nav Styling*/

  .burger-icon {
    display: flex;
    position: relative;
    height: 65px;
  }

  .nav-logo-desktop {
    display: none;
  }

  .nav-logo,
  .nav-logo img {
    position: absolute;
    left: 50%;
    flex: 0 1 auto;
    height: 65px;
    width: auto;
    transform: translateX(-50%);
  }

  .nav-container {
    display: none;
  }

  .burger-menu:checked ~ .nav-container {
    background-color: var(--navBackground);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: none;
    z-index: -1;
    padding-top: 8%;
  }

  form {
    width: 50%;
  }

  /* m1.2 Mobile Footer Styling*/

  .footer-icons {
    background-color: var(--navBackground);
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 70px;
    box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.6);
    z-index: 100;
  }

  ul {
    margin: 0;
    margin-inline: 20px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-cart-icon {
    width: 55px;
    height: auto;
  }

  .mobile-contact-icon {
    width: 70px;
  }

  /*=======================
      m2. Mobile Home Page
===========================*/

  /*m2.1 Mobile Main Button Styling*/

  .home-shop-now-button {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--textColor);
    font-family: var(--fontBold);
    width: 100%;
    display: flex;
    align-items: center;
    top: 65px;
    transition: 200ms;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
    z-index: 10;
  }

  .home-shop-now-text {
    padding: 10px;
  }

  #home-shop-now-head {
    padding-top: 20px;
    font-size: 7vw;
    margin: 0;
  }

  #home-shop-now-sub {
    font-size: 4vw;
    margin-right: 100px;
  }

  #home-shop-now {
    font-size: 5vw;
  }

  /*=========================
      m3. Mobile Browse Page
=============================*/

  .browse-background {
    padding: 0;
    margin-top: 65px;
  }

  .browse-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    margin-inline: 5%;
    padding-bottom: 30%;
  }

  .browse-ad-image {
    width: 100%;
    min-width: 0;
    height: 100px;
    margin-left: 0;
    font-size: 1em;
    align-items: center;
    background-size: 150%;
    background-position: left 30% top 30%;
    font-size: 1.2em;
  }

  /*==========================
      m4. Mobile Product Page
==============================*/

  .product-page-ad-background {
    padding-top: 65px;
  }

  .product-wrapper {
    flex-direction: column;
    margin-inline: 20px;
    padding-bottom: 20%;
  }

  .product-page-image-container img {
    width: 100%;
  }

  .product-text-container {
    margin-left: 0;
    border-bottom: none;
  }

  .product-text-container h1 {
    margin-bottom: 20px;
  }

  .product-text-container p {
    margin-bottom: 20px;
  }

  .product-page-buy-button {
    color: var(--buyNowInactive);
    background-color: var(--buyNowActive);
  }

  /*==========================
      m5. Mobile About Us Page
==============================*/

  .about-us-overlay {
    display: flex;
    align-items: center;
  }

  .about-us-overlay p {
    font-size: 1.4em;
    margin-inline: 10%;
  }

  .about-us-logo {
    display: none;
  }

  /*=========================
      m6. Mobile Contact Page
=============================*/

  .contact-info {
    display: block;
  }

  .contact-form-container {
    display: flex;
    justify-content: center;
  }

  .contact-text,
  .message-form,
  .contact-submit-button {
    width: 90%;
    margin-left: 10px;
  }

  .contact-form label {
    margin-left: 10px;
  }

  .contact-overlay {
    height: 100%;
    padding-bottom: 100px;
  }

  /*=========================
      m7. Mobile Cart Page
=============================*/

  .cart-background {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .cart-container {
    padding-top: 20px;
    padding-inline: 0px;
  }

  .back-button {
    margin-left: 20px;
  }

  .cart-product {
    flex-direction: row;
    height: 200px;
    margin-bottom: 20px;
  }

  .cart-product-header {
    font-size: 1.5rem;
  }

  .cart-product-color {
    font-size: 1rem;
  }

  .cart-product-description {
    display: none;
  }

  .cart-product-price {
    font-size: 1.8rem;
    margin: 0;
  }

  .cart-wrapper {
    padding-top: 15%;
    gap: 0;
    flex-direction: column;
  }

  .cart-form {
    max-width: none;
    padding-bottom: 30%;
  }
}
